<?xml version="1.0" encoding="UTF-8"?>

<!-- xsi:noNamespaceSchemaLocation removed because PHPUnit no longer provides XSD -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
bootstrap="vendor/autoload.php"
colors="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>